$color1: #00bdda;
$color2: #2f3a3e;
$color3: #f5f5f5;
$color4: #b2b2b2;
$color5: #e8e8e8;
$color6: #575757;
$color7: #e9e8e8;
$color8: #363636;
$color9: #363636;
$color10: #e84f3f;
$color11: #acacac;
$color12: #f0f0f0;
