@import "./utilities";

#support {
  border-bottom: 2px solid $color11;
}

#stay-connected {
  overflow: hidden;

  .logo {
    width: 270px;
  }

  .right-wrap {
    background-color: $color1;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      height: 100%;
      width: 25%;
      background-color: $color1;
      left: 0;
      clip-path: polygon(100% 0, 0% 100%, 100% 100%);
      transform: translateX(calc(-100% + 0.5px));
    }

    &::after {
      content: "";
      position: absolute;
      right: 0;
      top: 0;
      transform: translateX(100%);
      width: 1000px;
      height: 100%;
      background-color: $color1;
    }

    .right {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 60px;

      .newsletter-main {
        max-width: 500px;

        .newsletter-container {
          display: flex;
          position: relative;

          .custom-form-control {
            margin-bottom: 0;
            width: 100%;

            .input {
              height: 100%;

              input {
                margin-top: 0;
                height: 100%;
                padding-right: 146px;
              }
            }
          }

          .btn {
            position: absolute;
            top: 0;
            right: 0;
            height: 100%;
            padding-left: 30px;
            padding-right: 30px;

            .btn-text {
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}

// #faqs-types {
// }

#faq-item {
  .main-row {
    --bs-gutter-x: 100px;
  }

  .faq-item-left {
    .toc,
    .popular-questions {
      padding: 44px;
      border-radius: 14px;
    }

    .toc {
      background-color: $color20;
    }

    .half-1,
    .half-2 {
      padding: 30px 20px 20px;
    }
  }

  .faq-item-right {
    .faq-item-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid $color20;
      padding-bottom: 10px;
    }

    .question-section {
      display: flex;
      gap: 22px;
      margin-bottom: 40px;

      .num {
        font-size: 20px;
        font-weight: bold;
        opacity: 0.5;
      }

      .question-main {
        .question-head {
          font-size: 20px;
          font-weight: bold;
        }

        .question-body {
          margin-top: 12px;
        }
      }
    }
  }
}

#error {
  text-align: center;
  padding-bottom: 100px;
}

#pricing {
  background: url("../assets/vectors/bg-pricing.svg") center;
  background-size: cover;

  .pricing-main {
    display: flex;
    gap: 70px;

    .pricing-item {
      text-align: center;
      flex-grow: 1;
      background-color: #fff;
      border-radius: 8px;
      box-shadow: 0 0 30px rgba($color: #000000, $alpha: 0.19);
      position: relative;

      &::after {
        content: "";
        position: absolute;
        bottom: -70px;
        left: 50%;
        transform: translate(-50%, 100%);
        width: 110%;
        padding-top: 4%;
        background-color: rgba($color: #000000, $alpha: 0.3);
        border-radius: 50%;
        filter: blur(15px);
      }

      & > * {
        padding: 0 50px;
      }

      .name {
        padding-top: 56px;
        padding-bottom: 10px;
        font-size: 30px;
        color: #fff;
        background-color: $color1;
        font-weight: bold;
        position: relative;
        border-radius: 8px 8px 0 0;

        &::after {
          content: "";
          position: absolute;
          clip-path: polygon(0 0, 0% 100%, 100% 0);
          height: 60px;
          width: 100%;
          background-color: $color1;
          left: 0;
          bottom: 0;
          transform: translateY(100%);
        }
      }

      .price-wrap {
        padding-top: 70px;
        padding-bottom: 50px;
        background-color: rgba($color: #919191, $alpha: 0.1);
        position: relative;

        .price {
          font-size: 48px;
          font-weight: 300;
        }

        &::after {
          content: "";
          position: absolute;
          clip-path: polygon(0 0, 0% 100%, 100% 100%);
          height: 60px;
          width: 100%;
          background-color: #fff;
          left: 0;
          bottom: 0;
        }
      }

      .features-list {
        margin-top: 30px;

        .item {
          padding: 10px;
          border-bottom: 1px solid #ededed;
        }
      }

      .btn-wrap {
        margin-top: 70px;
        margin-bottom: 50px;

        .btn {
          width: 100%;
        }
      }

      &.em {
        background-color: #0098af;
        transform: scale(1.1);

        * {
          color: #fff;
        }

        .name {
          &::after {
            clip-path: polygon(100% 0, 0 0, 100% 100%);
            background-color: $color1;
          }
        }

        .price-wrap {
          &::after {
            display: none;
          }
        }

        .features-list {
          .item {
            border-bottom-color: rgba($color: #ededed, $alpha: 0.5);
          }
        }

        .btn {
          background-color: #fff;

          .btn-text {
            color: $color1 !important;
          }
        }
      }
    }
  }
}
