@import "./utilities";

#support {
  border-bottom: 2px solid $color11;
}

#stay-connected {
  overflow: hidden;

  .left-wrap {
    @media screen and (max-width: 991px) {
      text-align: center;
    }

    h6 {
      @media screen and (max-width: 1199px) and (min-width: 992px) {
        font-size: 14px;
      }
    }

    .logo {
      width: 270px;

      @media screen and (max-width: 1199px) {
        width: 200px;
      }
    }
  }

  .right-wrap {
    background-color: $color1;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      height: 100%;
      width: 25%;
      background-color: $color1;
      left: 0;
      transform: translateX(calc(-100% + 0.5px));

      @media screen and (min-width: 992px) {
        clip-path: polygon(100% 0, 0% 100%, 100% 100%);
      }
    }

    &::after {
      content: "";
      position: absolute;
      right: 0;
      top: 0;
      transform: translateX(100%);
      width: 1000px;
      height: 100%;
      background-color: $color1;
    }

    .right {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 60px;

      @media screen and (max-width: 767px) {
        gap: 30px;
      }

      @media screen and (max-width: 575px) {
        flex-direction: column;
      }

      .newsletter {
        @media screen and (max-width: 1199px) {
          width: 80px;
        }
      }

      .newsletter-main {
        max-width: 500px;

        h5 {
          @media screen and (max-width: 1199px) {
            font-size: 20px;
          }
        }

        .newsletter-container {
          display: flex;
          position: relative;

          .custom-form-control {
            margin-bottom: 0;
            width: 100%;

            .input {
              height: 100%;

              input {
                margin-top: 0;
                height: 100%;
                padding-right: 146px;
              }
            }
          }

          .btn {
            position: absolute;
            top: 0;
            right: 0;
            height: 100%;
            padding-left: 30px;
            padding-right: 30px;

            .btn-text {
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}

// #faqs-types {
// }

#faq-item {
  .main-row {
    --bs-gutter-x: 100px;
  }

  .faq-item-left {
    .toc,
    .popular-questions {
      padding: 44px;
      border-radius: 14px;
    }

    .toc {
      background-color: $color20;
    }

    .half-1,
    .half-2 {
      padding: 30px 20px 20px;
    }
  }

  .faq-item-right {
    .faq-item-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid $color20;
      padding-bottom: 10px;
    }

    .question-section {
      display: flex;
      gap: 22px;
      margin-bottom: 40px;

      .num {
        font-size: 20px;
        font-weight: bold;
        opacity: 0.5;
      }

      .question-main {
        .question-head {
          font-size: 20px;
          font-weight: bold;
        }

        .question-body {
          margin-top: 12px;
        }
      }
    }
  }
}

#error {
  text-align: center;
  padding-bottom: 100px;

  h1 {
    @media screen and (max-width: 575px) {
      font-size: 30px;
      margin-top: 0.5rem;
    }
  }

  img {
    max-width: 100%;
  }
}

#pricing {
  background: url("../assets/vectors/bg-pricing.svg") center;
  background-size: cover;

  .page-container {
    padding: 50px 0 150px;

    @media screen and (max-width: 991px) {
      padding: 0;
    }
  }

  .pricing-main {
    display: flex;
    gap: 70px;

    @media screen and (max-width: 1366px) {
      gap: 40px;
      align-items: center;
    }

    @media screen and (max-width: 991px) {
      flex-direction: column;
    }
  }
}

#landing-hero {
  overflow: hidden;
  position: relative;

  p {
    @media screen and (min-width: 992px) {
      font-size: 20px;
    }

    @media screen and (min-width: 1601px) {
      font-size: 24px;
    }
  }

  .dots {
    position: absolute;
    right: -50px;
    bottom: -200px;

    @media screen and (max-width: 767px) {
      width: 120px;
      right: -20px;
      bottom: -80px;
    }
  }

  .left-inner {
    @media screen and (min-width: 1200px) {
      max-width: 700px;
    }
  }

  .main-row {
    @media screen and (max-width: 1399px) {
      --bs-gutter-x: 100px;
    }

    @media screen and (max-width: 1270px) {
      --bs-gutter-x: 50px;
    }
  }

  .main {
    .mockup-container {
      position: relative;
      padding-bottom: 200px;

      @media screen and (max-width: 1199px) {
        margin-left: auto;
        margin-right: auto;
        max-width: 600px;
      }

      &::after {
        content: "";
        position: absolute;
        bottom: 100px;
        left: 50%;
        transform: translate(-50%, 100%);
        width: 110%;
        padding-top: 4%;
        background-color: rgba($color: #000000, $alpha: 0.6);
        border-radius: 50%;
        filter: blur(16px);
      }

      .mockup-2 {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 115%;
      }
    }

    .btns {
      .btn:nth-child(2) {
        .btn-text {
          opacity: 0.5;
        }
      }
    }

    .steps {
      margin: 150px 0 50px;
      display: flex;
      align-items: center;
      gap: 20px;

      @media screen and (max-width: 1199px) {
        margin-top: 70px;
      }

      @media screen and (max-width: 767px) {
        margin-top: 40px;
        justify-content: center;
        flex-wrap: wrap;
      }

      .step {
        padding: 16px 22px;
        border-radius: 15px;

        @media screen and (max-width: 767px) {
          min-width: 300px;
          width: 33.33%;
        }

        @media screen and (max-width: 575px) {
          min-width: unset;
          width: 100%;
        }

        .number {
          font-size: 80px;
          font-weight: bold;
          line-height: 1;
        }

        .title {
          position: relative;

          @media screen and (max-width: 1270px) {
            font-size: 15px;
          }

          &::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: -10px;
            width: 80px;
            height: 2px;
            background-color: $color2;
          }
        }

        p {
          font-size: 14px;

          @media screen and (max-width: 1600px) {
            font-size: 12px;
          }
        }

        &:nth-child(2) {
          background-color: $color1;

          * {
            color: #fff;
          }

          .title {
            &::after {
              background-color: #fff;
            }
          }
        }
      }
    }
  }
}

.form-container.create-quiz-form {
  max-width: 465px;

  .custom-form-control,
  .custom-select-container {
    input,
    .selected-text {
      background-color: #fff;
      box-shadow: 0 0 3px rgba($color: #000000, $alpha: 0.16);

      &::placeholder {
        color: $color2;
        font-weight: 200;
      }
    }

    .selected-text:not(.added) {
      color: $color2;
      font-weight: 200;
    }

    .custom-select-container {
    }

    .select-options {
      background-color: #fff;
      box-shadow: 0 0 3px rgba($color: #000000, $alpha: 0.16);
      z-index: 3;

      & > * {
        background-color: #fff;
      }
    }
  }
}

#landing-packages {
  padding: 70px 0 130px;
  background-color: #f7f7f7;
  position: relative;

  .dots {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 200px;
  }

  .pricing {
    .pricing-main {
      display: flex;
      justify-content: center;
      gap: 70px;

      @media screen and (max-width: 1366px) {
        gap: 40px;
        align-items: center;
      }

      @media screen and (max-width: 767px) {
        flex-direction: column;
      }

      .pricing-item {
        width: calc(50% - 70px);
        max-width: 484px;

        @media screen and (max-width: 767px) {
          width: 100%;
        }

        .name {
          color: #fff !important;
        }

        &.dark {
          .name {
            background-color: $color2 !important;
            color: #fff !important;

            &::after {
              background-color: $color2 !important;
            }
          }

          .btn {
            background-color: $color2 !important;
          }
        }

        &.inverted {
          transform: unset !important;

          .name {
            &::after {
              clip-path: polygon(100% 0, 0 0, 100% 100%);
              background-color: $color1;
            }
          }

          .price-wrap {
            * {
              color: $color1 !important;
            }

            &::after {
              clip-path: polygon(100% 0, 0% 100%, 100% 100%);
            }
          }
        }
      }
    }
  }
}

#landing-whyus {
  background-color: $color1;
  padding: 100px;

  * {
    color: #fff !important;
  }

  .feature-item {
    max-width: 318px;
    margin: auto;
    text-align: center;
  }
}

#landing-faqs {
  position: relative;
  overflow: hidden;
  padding: 100px;

  .bg {
    position: absolute;
    left: -370px;
    top: 0;
    pointer-events: none;
  }

  .main {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    position: relative;

    .faqs {
      margin-top: 70px;

      .faq-item {
        border: 2px solid $color1;
        overflow: hidden;
        margin-bottom: 20px;
        border-radius: 50px;

        @media screen and (max-width: 767px) {
          border-radius: 20px;
        }

        @include transitioned;

        &.active {
          border-radius: 40px 40px 20px 20px;

          @media screen and (max-width: 767px) {
            border-radius: 20px;
          }
        }

        svg {
          @include transitioned;

          @media screen and (max-width: 767px) {
            width: 20px;
            flex-shrink: 0;
          }
        }

        .head {
          background-color: $color1;
          border-radius: 40px;
          padding: 1rem 4rem;
          display: flex;
          justify-content: space-between;
          align-items: center;
          gap: 20px;
          cursor: pointer;

          @include transitioned;

          @media screen and (max-width: 1199px) {
            padding-left: 3rem;
            padding-right: 3rem;
          }

          @media screen and (max-width: 767px) {
            border-radius: 20px;
          }

          @media screen and (max-width: 575px) {
            padding-left: 2rem;
            padding-right: 2rem;
          }

          h5 {
            @media screen and (max-width: 1600px) {
              font-size: 22px;
            }

            @media screen and (max-width: 991px) {
              font-size: 20px;
            }

            @media screen and (max-width: 767px) {
              font-size: 18px;
            }
          }

          .title {
            color: #fff;

            @include transitioned;
          }
        }

        .body {
          padding: 20px 0;
          background-color: #fff;
        }

        .body-main,
        .footer-main {
          padding-left: 4rem;
          padding-right: 4rem;

          @media screen and (max-width: 1199px) {
            padding-left: 3rem;
            padding-right: 3rem;
          }

          @media screen and (max-width: 575px) {
            padding-left: 2rem;
            padding-right: 2rem;
          }

          @media screen and (max-width: 600px) {
            * {
              font-size: 16px;
            }
          }
        }

        .footer {
          padding: 2rem 20px 1rem;
          background-color: #fff;

          @media screen and (max-width: 767px) {
            padding-top: 0;
          }

          .footer-main {
            display: flex;
            align-items: center;
            justify-content: flex-end;
          }

          .thumb {
            cursor: pointer;
            margin: 0.5rem;

            &.down {
              transform: rotate(180deg);
            }
          }
        }

        &:not(.active) {
          box-shadow: 0 0 10px rgba($color: #000000, $alpha: 0.16);
          border-color: transparent;

          .head {
            background-color: #fff;

            .title {
              color: $color1 !important;
            }

            svg {
              transform: rotate(90deg);

              path {
                fill: $color1;
              }
            }
          }
        }
      }
    }
  }
}
