@import "./utilities";

#support {
  border-bottom: 2px solid $color11;
}

#stay-connected {
  overflow: hidden;

  .logo {
    width: 270px;
  }

  .right-wrap {
    background-color: $color1;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      height: 100%;
      width: 25%;
      background-color: $color1;
      left: 0;
      clip-path: polygon(100% 0, 0% 100%, 100% 100%);
      transform: translateX(calc(-100% + 0.5px));
    }

    &::after {
      content: "";
      position: absolute;
      right: 0;
      top: 0;
      transform: translateX(100%);
      width: 1000px;
      height: 100%;
      background-color: $color1;
    }

    .right {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 60px;

      .newsletter-main {
        max-width: 500px;

        .newsletter-container {
          display: flex;
          position: relative;

          .custom-form-control {
            margin-bottom: 0;
            width: 100%;

            .input {
              height: 100%;

              input {
                margin-top: 0;
                height: 100%;
                padding-right: 146px;
              }
            }
          }

          .btn {
            position: absolute;
            top: 0;
            right: 0;
            height: 100%;
            padding-left: 30px;
            padding-right: 30px;

            .btn-text {
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}

// #faqs-types {
// }

#faq-item {
  .main-row {
    --bs-gutter-x: 100px;
  }

  .faq-item-left {
    .toc,
    .popular-questions {
      padding: 44px;
      border-radius: 14px;
    }

    .toc {
      background-color: $color20;
    }

    .half-1,
    .half-2 {
      padding: 30px 20px 20px;
    }
  }

  .faq-item-right {
    .faq-item-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid $color20;
      padding-bottom: 10px;
    }

    .question-section {
      display: flex;
      gap: 22px;
      margin-bottom: 40px;

      .num {
        font-size: 20px;
        font-weight: bold;
        opacity: 0.5;
      }

      .question-main {
        .question-head {
          font-size: 20px;
          font-weight: bold;
        }

        .question-body {
          margin-top: 12px;
        }
      }
    }
  }
}

#error {
  text-align: center;
  padding-bottom: 100px;
}

#pricing {
  background: url("../assets/vectors/bg-pricing.svg") center;
  background-size: cover;

  .pricing-main {
    display: flex;
    gap: 70px;
  }
}

#landing-hero {
  overflow: hidden;
  position: relative;

  .bg {
    position: absolute;
    right: 0;
    top: -108px;
    width: 70%;
  }

  .mark {
    position: absolute;
    right: -100px;
    top: -100px;
  }

  .main {
    .mockup-container {
      position: relative;
      padding-bottom: 1.5rem;

      .mockup-2 {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 115%;
      }
    }

    .btns {
      .btn:nth-child(2) {
        .btn-text {
          opacity: 0.5;
        }
      }
    }

    .steps {
      margin: 150px 0 50px;
      display: flex;
      align-items: center;
      gap: 20px;

      .step {
        padding: 16px 22px;
        border-radius: 15px;

        .number {
          font-size: 80px;
          font-weight: bold;
          line-height: 1;
        }

        .title {
          position: relative;

          &::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: -10px;
            width: 80px;
            height: 2px;
            background-color: $color2;
          }
        }

        p {
          font-size: 15px;

          @media screen and (max-width: 1600px) {
            font-size: 13px;
          }
        }

        &:nth-child(2) {
          background-color: $color1;

          * {
            color: #fff;
          }

          .title {
            &::after {
              background-color: #fff;
            }
          }
        }
      }
    }
  }
}

.form-container.create-quiz-form {
  max-width: 465px;

  .custom-form-control,
  .custom-select-container {
    input,
    .selected-text {
      background-color: #fff;
      box-shadow: 0 0 3px rgba($color: #000000, $alpha: 0.16);

      &::placeholder {
        color: $color2;
        font-weight: 200;
      }
    }

    .selected-text:not(.added) {
      color: $color2;
      font-weight: 200;
    }

    .custom-select-container {
    }

    .select-options {
      background-color: #fff;
      box-shadow: 0 0 3px rgba($color: #000000, $alpha: 0.16);
      z-index: 3;

      & > * {
        background-color: #fff;
      }
    }
  }
}

#landing-packages {
  padding: 70px 0 130px;
  background-color: #f7f7f7;
  position: relative;

  .dots {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 200px;
  }

  .pricing {
    .pricing-main {
      display: flex;
      justify-content: center;
      gap: 70px;

      .pricing-item {
        width: calc(50% - 70px);
        max-width: 484px;

        .name {
          color: #fff !important;
        }

        &.dark {
          .name {
            background-color: $color2 !important;
            color: #fff !important;

            &::after {
              background-color: $color2 !important;
            }
          }

          .btn {
            background-color: $color2 !important;
          }
        }

        &.inverted {
          .name {
            &::after {
              clip-path: polygon(100% 0, 0 0, 100% 100%);
              background-color: $color1;
            }
          }

          .price-wrap {
            * {
              color: $color1 !important;
            }

            &::after {
              clip-path: polygon(100% 0, 0% 100%, 100% 100%);
            }
          }
        }
      }
    }
  }
}

#landing-whyus {
  background-color: $color1;
  padding: 100px;

  * {
    color: #fff !important;
  }

  .feature-item {
    max-width: 318px;
    margin: auto;
    text-align: center;
  }
}

#landing-faqs {
  position: relative;
  overflow: hidden;
  padding: 100px;

  .bg {
    position: absolute;
    left: -370px;
    top: 0;
    pointer-events: none;
  }

  .main {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    position: relative;

    .faqs {
      margin-top: 70px;

      .faq-item {
        border: 2px solid $color1;
        overflow: hidden;
        margin-bottom: 20px;
        border-radius: 50px;

        @include transitioned;

        &.active {
          border-radius: 50px 50px 20px 20px;
        }

        svg {
          @include transitioned;
        }

        .head {
          background-color: $color1;
          border-radius: 100px;
          padding: 1rem 4rem;
          display: flex;
          justify-content: space-between;
          align-items: center;
          cursor: pointer;

          @include transitioned;

          .title {
            color: #fff;

            @include transitioned;
          }
        }

        .body {
          padding: 20px;
          background-color: #fff;
        }

        .body-main,
        .footer-main {
          max-width: 1000px;
          margin-left: auto;
          margin-right: auto;
        }

        .footer {
          padding: 2rem 20px 1rem;
          background-color: #fff;

          .footer-main {
            display: flex;
            align-items: center;
            justify-content: flex-end;
          }

          .thumb {
            margin: 0.5rem;

            &.down {
              transform: rotate(180deg);
            }
          }
        }

        &:not(.active) {
          box-shadow: 0 0 10px rgba($color: #000000, $alpha: 0.16);
          border-color: transparent;

          .head {
            background-color: #fff;

            .title {
              color: $color1 !important;
            }

            svg {
              transform: rotate(90deg);

              path {
                fill: $color1;
              }
            }
          }
        }
      }
    }
  }
}
